

 @media screen and (max-device-width: 1315px){
    .burger{
        display: block;
        margin-right: 32px;
    }
    
    .main-menu{
        transition: display 1s linear;
        display: none;
    }

    .hide-burger{
        
        justify-content: center;
        transition: display 1s linear;
        display: flex;
    }

    .content-list{
        margin-left:32px;
    }

    .text-slider{
        padding:2%;
    }

}

@media screen and (max-device-width:1120px){
    .text-slider .desc, .Faq .desc{
        font-size: 50px;
    }

    .text-slider img, .Faq img{
        height:1em;
    }
}

@media screen and (max-device-width:1100px){
    .main-news{
        display: block;
    }

    .big-news{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:0px auto;
    }

    .news-sources-elem:first-child{
        border-top: 1px #e2e2e2 solid;
    }

    .news-sources-elem:last-child{
        padding-bottom: 20px;;
    }

    .big-news{
        max-width: 50%;
        align-self: center;
    }

    .big-news.rig_bord{
        border: 0px;
    }

    .give-answer{
        margin-bottom: 30px;
    }
    
    .head-faq{
        margin-bottom: 40px;
    }

    .flex-news{
        display: block;
        margin:0px;
    }

    .flex-news-elem1{
        margin: 0px 0px 20px 0px;
    }

    .news-text-1{
        margin-bottom: 20px;
    }


    .flex-elem-faq{
        flex-direction: column;
    }

    .fast-access-list{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .content-list{
        margin-left:32px;
    }

    .slick-dots{
        left:50%;
    }

}


@media screen and (max-device-width: 991px) {
    .mini-news-content{
        padding: 16px;
    }

    .big-news{
        margin:0px auto;
    }

    .content-list{
        margin-left:32px;
    }

    .news-sources-elem{
        padding: 20px;
    }

    .text-slider .desc, .Faq .desc{
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 20px;
    }

    .text-slider .list-accredit{
        font-size: 16px;
    }

    .text-slider a{
        font-size: 16px;
    }
    
    .minicar-image{
        margin-bottom: -3%;
    }

    .minicar-image img{
        width: 1.8em;
    }

 .miniface-image{
        height: 1em;
    }

    .miniparking-image{
        margin-bottom: -2%;
    }

    .mini-i-image{
        margin-bottom: -2.5%;
    }

    .slick-dots{
        bottom: 5%;
    }

    .slick-dots button{
        width:20px;
        height:20px;
        font-size: 14px;
    }
} 

@media screen and (max-device-width: 880px){
    .cont-block{
        display: block;
    }

    .mini-news-content{
        width:100%;
        border-bottom: 1px #e2e2e2 solid;
    }

    .mini-news-content:last-child{
        border:0px;
    }
}

@media screen and (max-device-width: 800px){
    .text-slider .desc{
        font-size: 35px;
        line-height: 40px;
    }

    .fast-access-list{
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (max-device-width: 767px){
    
    .big-news{
        display: block;
    }

    .date-news{
        margin-bottom: 20px;
    }

    .news-text-1{
        width:100%;
    }

    .news-sources-elem{
        flex-wrap: wrap;
    }

    .big-news{
        min-width: 100%;
    }

    .big-news.big-news.rig_bord{
        padding:2%;
    }

    .img-news>img{
        width:100%;
    }

    .flex-news{
        flex-direction: column;
    }

    .subscribe{
        margin-bottom: 20px;
    }

    .main-footer-element{
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    
    .Faq{
        min-height: 1000px;
        background-position: center center;
    }

    .content-list{
        justify-content: center;
    }
}

@media screen and (max-device-width:748px){
    .big-slider{
        display: block;
    }
    
    .desc > br{
        display: none;
    }

    .text-slider .list-accredit{
        margin-left: 0px;
    }

    .slick-dots{
        left:70%;
    }

    .big-slider-img{
       height: 300px;
       width:100%;
    }

    .big-slider-img>img{
        width:100%;
        height:100%;
    }
}


@media screen and (max-device-width:624px){
    .title-news{
        margin-left: 0px;
    }

    .rules{
        display: block;
        margin:0px auto;
    }

    .rules-elem:first-child{
        margin-bottom: 16px;
    }
}


@media screen and (max-device-width:500px)
{
    .text-probki{
        display: none;
    }    

    .menu{
        padding-left: 16px;
    }

    .text-slider .desc{
        margin-bottom: 16px;
    }
    
    .big-slider-img{
        background-size: cover;
        background-position: center;
    }

    .head.head-news, .head_hlp_knw{
        padding-left: 16px;
        padding-right: 16px;
    }

    .head-faq,.head-facs, .head_hlp_knw{
        margin-bottom: 16px;
        display: block;
        line-height: 50px;
    }
}

@media screen and (max-device-width:450px){
    .slick-dots{
        left:60%;
        bottom: 0%;
    }
}

@media screen and (max-device-width:400px){
    .logo{
        width:120px;
    }

    .logo img{
        width:100px;
        height:32px;
    }

    .probki{
      margin:0px 16px 0px 0px  
    }

    .search-phone .trubka{
        margin-right:16px;
    }

    .search-phone .lupa{
        margin-right:16px;
    }

    .burger{
        margin:0px 16px 0px auto;
    }
}