

 @media screen and (max-device-width: 1315px){
    .burger{
        display: block;
        margin-right: 32px;
    }
    
    .main-menu{
        transition: display 1s linear;
        display: none;
    }

    .hide-burger{
        
        justify-content: center;
        transition: display 1s linear;
        display: flex;
    }


}

/*
@media screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
    .burger{
        display: none;
    }
}

|*/

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .mini-news-content{
        flex-direction: column;
        padding: 16px;
    }
} 

@media screen and (min-device-width: 468px) and (max-device-width: 768px){
    
}