@font-face {
	font-family: 'Moscow-sans'; 
	src: local('Moscow-sans'),
		url(../fonts/Moscow-sans.ttf); 
}

body{
    font-family: 'Moscow-sans', regular;
	margin: 0px auto;
}

.container{
	max-width: 1440px;
	padding: 0px;
}

.site-header .container{
	height: 72px;
	display: flex;
	align-items: center;
	border-bottom:#EEEEEE 1px solid;
	align-items: center;
}

.logo{
	width: 176px;
	height: 100%;
	background-color: #62A744;
	display: flex;
}	

.menu{
	display: flex;
}

.main-menu{
	display: flex;
	flex-direction: row;
}

.main-menu div{
	margin-left: 20px;
}

.probki, .search-phone{
	display: flex;
}

.probki{
	margin-left: 198px;
	color:#818181;
}

.probki:first-child{
	margin-left: 0px;
}

.probki div{
	margin-left: 8px;
}

.text-probki{
	margin-left: 0px;
}

.probki-back{
	color:#fff;
	background: #62A744;
	width:32px;
	height:32px;
	border-radius: 50%;
	text-align: center;
}

.menu a{
	color:#000;
	text-decoration: none;
}

.search-phone{
	margin-left: 33px;
    
}

.search-phone div{
	margin: 0px 31px 0px 0px;
}

.search-phone div:last-child{
	margin: 0px 0px 0px 0px;
}
	

.cont_3_elem{
	max-height:144px;
	display: flex;
	flex-direction: row;
}

.cont_3_elem__item{
	width:33%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-right:#EEEEEE 1px solid;
}

.cont_3_elem__itemr:last-child{
	border-right: 0px;
}

.cont_3_elem__item img{
	width:144px;
	height: 72px;
	padding: 0px 0px 0px 32px
}

.cont_3_elem__item::after{
	content: "";
	position: relative;
	width: 20px; 
	height: 20px;
	left: -305px;
	top: -35px;
	background: url("../images/!.png") no-repeat center center;
	flex-shrink: 0;
}

.cont_3_elem__item .cont_3_elem_text{
	padding:32px;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	height: 60px;
	width: 267px;
	margin-bottom: 16px;
}

.big-slider{
	display: flex;
}

.big-slider img{
	padding: 0px;
	margin:0px;
	display: inline;
}

.text-slider{
	position: relative;
	width: 599px;
	max-height: 570px;
	padding-top: 58px;
	padding-left: 72px;
	padding-right: 65px;
	padding-bottom: 76px;
	background-color: #EEEEEE;
}

.big-slider p.desc{
	color:#000;
	font-size: 62px;
	font-style: normal;
	font-weight: 400;
	line-height: 62px;
	letter-spacing: 0em;
	text-align: left;
	display: inline;
	}

div.desc img {
	margin-bottom: -14px;
}

p.list-accredit{
	max-width: 287px;
	max-height: 138px;
	margin-right: 0px;
	padding-top: 33px;

	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
}

p.list-accredit a{
	color:#000;
	text-decoration: none;
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	padding-top: 30px;
}

/*  */
/* News */
/*  */

section.news{
	height:100%;

}

section.news div.head{
	height: 63px;
	margin:0px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #E2E2E2;
	
}

.news-1{
	margin-left: 0px;
	font-size: 38px;
	font-weight: 400;
	margin-bottom: 37px ;
}

section.news .news-1{
	padding-left: 32px;
}

section.news .all-news{
 	padding-right: 32px;
}


.all-news{
	margin-right: 0px;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 0em;
	text-align: right;
	text-decoration: none;
	color:#000;
	margin-bottom: 37px ;
}

.main-news{
	display: flex;
	margin:0px;
}

.big-news{
	width:704px;
	height:557px;
	margin:0px;
	padding: 24px 0px 23px 32px;
	border-right: 1px solid #e2e2e2; 
	
}

.big-news img{
	margin:0px;
	margin-bottom: 23px;
}

.date-news{
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color:#818181;
}

.title-news-big{
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	width:408px;
}



.big-news a{
	font-size: 20px;
	font-weight: 800;
	line-height: 28px;
	color:#000;
	text-decoration: none;
}

.flex-news{
	display: flex;
	justify-content: space-between;
}

.flex-news-elem1{
	margin: 0px;
}

.title-news{
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	max-width: 464px;
    padding-bottom: 25px;
}

.flex-news-elem2{
	padding-left: 55px;
}


.news-sources-block{
	width:736px;
	height: 100%;
}

.news-sources li{
	margin:0px;
	width:100%;
	border-bottom: 1px solid #e2e2e2; 
	display: flex;
	align-items: center;
}

.news-sources p.date-news{
	margin-left:0px;
	padding: 30px 109px 24px 32px;
}

.news-sources p.title-news{
	margin-right: 0px;
	width:499px;
	padding:20px 0px;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;

}

.news-sources li:last-child{
	border: 0px;
}

/*  */
/* FAQ */
/*  */

.Faq{
	height: 644px;
	padding: 60px 34px 0px 32px;
	background: url('../images/woman-watching.png')no-repeat;
}

.head-faq{
	
	display: flex;
	color:#fff;
}

.head-faq a{
	color:#fff;
	font-size: 16px;
	line-height: 20px;

}

.question{
	padding-left: 32px;
	margin-top: 190px;
}

div.desc{
	color:#fff;
	font-size: 62px;
	line-height: 62px;
}

p.desc img{
	display: inline;
}

p.desc img:last-child{
	float: inherit;
	margin-top: -12px;
}

.answer{
	display: flex;
 	padding-top: 200px;
	color:#fff;
	max-width: 468px;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	padding-right: 20px;
	
}

.answer::before{
	display: block;
	content: "";
	width:3px;
	height: 154px;
	background: #ffffff;
	margin-right: 30px;
	margin-top: 10px;
	z-index: 10;
}

.give-answer{
	
	color:#fff;
	margin-top: 28px;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
}

.flex-elem-faq{
	display: flex;
	justify-content: space-between;
}

.flex-elem-faq .elem{
	margin:0px;
}

/*  */
/* Fast access */
/*  */

.fast-access{
	background-color: #242424;
	padding: 42px 34px 0px 32px;
	height:302px;
}

ul.fast-access-list{
	display: flex;
}

ul.fast-access-list li{
	display: flex;
	justify-content: start;
	flex-direction: column;
	margin-top: 55px;
	text-align: left;
}

ul.fast-access-list li>p{
	color:#fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	max-width: 143px;
}

ul.fast-access-list li>img{
	margin-left: 0px;
	padding-bottom: 28px;
}

/*  */
/* helpful know */
/*  */

.helpful-know{
	padding-bottom: 118px;
}

.help-know-slider{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 32px;
}

.head-help-know{
	height: 50px;
	padding: 51px 32px 9px 32px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	
	border-bottom: 1px solid #e2e2e2;
}

.title-know{
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	max-width: 460px;
}

.big-know{
	border: 0px;
	max-width: 664px;
	padding-left:0px
}

.slider-list{
	padding-right: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 704px;
	width:100%;
	height: 700px;
	margin:0px;
	/* margin-top: 32px; */
}

.slider-list-elem{
	margin: 0px;
	padding-left:32px;
}

.slider-list .mini-slider{
	display: flex;
	flex-direction: column;
}

.cont_3_elem p.title-slider{
	max-width: 320px;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	padding-top: 28px;
}

.cont_3_elem p.date-news{
	width:120px;
	margin:18px 0px 0px 0px;
}

.help-know-slider .flex-news-elem2{
	margin-left: 50px;
}

.btn{
	display: flex;
	vertical-align: middle;
}

.btn-other{
	margin-top: 30px;
	width: 239px;
	height: 54px;
	background: #62A744;
	color:#fff;
	border:0px;
}

/* footer */

footer{
	padding-top: 68px;
	background: #EEEEEE;
	height:446px;
}

.subscribe{
	padding-left: 32px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}

.subscribe-title{
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	max-width: 620px;
}

.subscribe-rules-book{
	display: flex;
}

.social{
	display: flex;
	margin-left: 0px;
	margin-top: 26px;
}

.social li{
	margin: 0px 13px;
}


div.rules{
	display: flex;
	flex-direction: row;

}

ul.rules li{
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

.rules li>a{
	color:#000;
	text-decoration: none;
}


div.rules ul:nth-child(1){
	max-height: 220px;
	width:320px;
}

div.rules ul:nth-child(1)>li{
	padding-bottom: 12px;
}


div.rules ul:nth-child(2){
	max-height: 240px;
	width:320px;
}

div.rules ul:nth-child(2)>li{
	padding-bottom: 12px;
}

.copyright{
	margin-top: 120px;
	padding: 34px;
	border-top:#CBCBCB 1px solid;
}

p.copyright-paragraph{
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color:#818181;
}

.main-footer-element{
	display: flex;
	flex-direction: row;
}