@font-face {
    font-family: 'Moscow-sans';
    src: local('Moscow-sans'), url(../fonts/Moscow-sans.ttf);
}

body {
    font-family: 'Moscow-sans', regular;
    margin: 0px auto;
    font-size: 16px;
    line-height: 20px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    padding: 0px 34px 0px 32px;
}

.container_nolr{
    padding:0px;
}

/*  */


/* header part */


/*  */

.burger {
    background: none;
    border: 0px;
    display: none;
}

.burger>img {
    max-height: 32px;
    max-width: 32px;
}

.site-header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    margin: 0px auto;
    left: 0;
    right: 0;
    height: 71px;
    transition: transform .3s ease;
    opacity: 1 !important;
}

.header_navig {
    width: 100%;
    display: flex;
    height:72px;
}

.und_line {
    border-bottom: #e2e2e2 1px solid;
    /* 62A744 */
}

.search{
    position: absolute;
    height:75px;
    display: flex;
    width:100%;
    background: #fff;
    padding: 20px;
    border: 1px #e2e2e2 solid;
}

.search>button{
    border-color: #62A744;
    background-color:#62A744;
    color:#fff;
    margin:0px auto;
}

.search>input{
    width: 100%;
    /* padding: 0px -20px; */
    margin-right: 20px;

}

.search_visible{
    transform: translateY(-1000px);
}

.logo {
    width: 176px;
    background-color: #62A744;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
}

.logo>img {
    width: 131px;
    height: 44px;
}

.main {
    padding-top: 72px;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 32px;
}

.menu-line{
    height: 2px;
    border-radius: 30%;
    width:30px;
    margin:7px 0px;
    background-color:#000;
}

.main-menu {
    display: flex;
}

.main-menu div {
    margin-right: 20px;
}


/* Burger menu  */

.close-menu {
    border: 0px;
    background: none;
}

.menu-burger {
    display: none;
    flex-direction: column;
    align-items: center;
}

/* animate burger */

.burger>div{
    transition: transform 0.3s, opacity 0.6s;
}

.animate_burg>div:nth-child(2){
    opacity:0;
    transition: opacity 0.2s;
}

.animate_burg>.menu-line:nth-child(1){
    
    transform: rotate(45deg) translateY(12px);
    transition: transform 0.3s;
}

.animate_burg>.menu-line:nth-child(3){
   
    transform: rotate(-45deg) translateY(-12px);
    transition: transform 0.3s;
}




/* end animate burger */

.hide_menu {
    transform: translateY(calc(-100% - .2rem));
}

.invis {
    display: none;
}

.close {
    background: none;
    border: 0px;
}

.hide-burger {
    display: block;
    position: fixed;
    top: 72px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #fff;
    transition: display 0.3s position 1s;
}

.hide-burger>div {
    margin-bottom: 10px;
}


/* end burger menu */

.probki,
.search-phone {
    display: flex;
    align-items: center;
}

.probki {
    color: #818181;
    margin: 0px 32px 0px auto;
}

.probki div {
    margin-right: 8px;
}

.probki-back .text_probki_ball {
    margin: 0px;
}

.probki-back{
    color: #fff;
    background: #62A744;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trubka {
    background: url(..//images/phone.png)no-repeat center center;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.lupa {
    background: url(..//images/lupa.png)no-repeat center center;
    width: 24px;
    height: 24px;
    border:0px;
}

.search-phone div {
    margin: 0px 32px 0px 0px;
}

.cont-block {
    display: flex;
}

.mini-news-content {
    width: 33.333%;
    display: flex;
    padding: 32px;
    box-sizing: border-box;
    border-right: #EEEEEE 1px solid;
}

.mini-news-content:last-child{
    border:0px;
}

.mini-content {
    margin-bottom: 48px;
}

.img-mini-content {
    width: 144px;
    height: 80px;
    margin-right: 32px;
    flex: none;
}

.warning::before {
    content: "";
    display: block;
    position: relative;
    background: url("../images/!.png") no-repeat;
    width: 20px;
    height: 20px;
    left: 136px;
    top: -10px;
}

.mini-news-content .mini-news-text {
    margin-bottom: auto;
}

.news-text-1 {
    margin-bottom: 35px;
    width: 450px;
}


/*  */


/* slider part */


/*  */

.front-big-slider_js {
    margin-bottom: 32px;
}

.big-slider {
    display: flex;
    background-color: #EEEEEE;
}

.big-slider-img{
    flex:none;
    width:50%;
}

.big-slider-img>img {
    width:100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.text-slider {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 58px 65px 76px 72px;
    min-height: 300px;
}

.desc {
    color: #000;
    font-size: 62px;
    line-height: 62px;
    display: inline-block;
    margin-bottom: 40px;
}

.minicar-image {
    display: inline-block;
    height: 1em;
    margin-bottom: -3%;
}

.miniface-image {
    display: inline-block;
    height:1em;
}

.miniparking-image {
    display: inline-block;
    height: 1em;
    margin-bottom:-2%;
}

.mini-i-image {
    display: inline-block;
    height:1em;
    
}

.font-var-2 {
    font-size: 20px;
    line-height: 28px;
}

.more_det {
    font-weight: bold;
}

.more_det::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../images/arrow.png") no-repeat;
    margin-bottom: -7px;
}

div.list-accredit {
    max-width: 287px;
    margin: 0px 0px 0px auto;
}

.slick-dots{
    padding:0px;
}

/*  */


/* News */


/*  */

section.news {
    height: 100%;
}

.news div.head {
    min-height: 63px;
    display: flex;
}

.head {
    padding: 0px 0px 19px 0px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.head-news {
    padding: 0px 0px 22px 34px;
    margin: 0px -32px 0px -34px;
}

.more_all{
    padding-right: 32px;
}

.head-fs38 {
    font-size: 38px;
    line-height: 40px;
}

.title-news {
    max-width: 490px;
    margin-left: auto;
}

.h2-st {
    font-size: 38px;
    line-height: 40px;
}

.main-news {
    display: flex;
    margin: 0px;
}

.big-news {
    min-width: 624px;
    padding: 24px 0px 23px 0px;
    border-right: 1px #eeeeee solid;
}

.img-news {
    margin-bottom: 23px;
}

.date-news {
    color: #818181;
    margin-right:10px;
}

.big-news a {
    font-size: 20px;
    line-height: 28px;
}

.flex-news {
    display: flex;
    justify-content: space-between;
}

.flex-news-elem1 {
    flex: none;
    margin-top: 10px;
}

.h3-st {
    font-size: 30px;
    line-height: 36px;
}

.h4-st {
    font-size: 20px;
    line-height: 28px;
}

.flex-news-elem2 {
    max-width: 468px;
}

.news-sources{
    margin-right: -32px;
}

.news-sources-block {
    flex: 1;
}

.news-sources-elem {
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    padding: 20px 32px 20px 32px
}

.news-sources-elem .date-news {
    flex: none;
}

.news-sources-elem:last-child {
    border: 0px;
    padding-bottom: 100px;
}


/*  */


/* FAQ */


/*  */

.Faq {
    box-sizing: border-box;
    max-height: 704px;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background: url('../images/woman-watching.png')no-repeat;
    background-size: cover;
}

.head-faq,
.head-faq a,
.Faq div.desc,
div.quest {
    color: #fff;
}

.Faq div.desc {
    margin-bottom: 28px;
}

.head-faq {
    padding: 0px;
    margin-bottom: 240px;
}

.answer {
    display: flex;
    color: #fff;
    max-width: 468px;
}

.answer::before {
    display: block;
    content: "";
    width: 4px;
    height: 154px;
    background: #ffffff;
    margin-right: 30px;
    margin-top: 10px;
}

.give-answer {
    color: #fff;
    font-size: 20px;
    line-height: 28px;
}

.flex-elem-faq {
    display: flex;
    justify-content: space-between;
}


/*  */


/* Fast access */


/*  */

.fast-access {
    background-color: #242424;
    padding-top:41px;
    padding-bottom: 62px;
    margin-bottom: 51px;
}

.fa-elem-1{
    margin:12px;
}

.fa-elem-1 img{
    height: 47px;
}

.head-facs,
.head-facs a {
    color: #fff;
}

.head-facs {
    padding: 0px;
    margin-bottom: 55px;
}

.mini-img {
    margin-bottom: 27px;
}

.fast-access-list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.fast-access-list .title {
    color: #fff;
    max-width: 143px;
}


/*  */


/* helpful know */


/*  */

.head.head-news, .head_hlp_knw{
    
}

.more_all{
    
}

.img-news-2 {
    background: url("../images/quest-image.png") no-repeat;
}

.helpful-know {
    padding-bottom: 118px;
}

.help-know-content .big-news{
    border:0px;
}

.help-know-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.help-know-content .big-news {
    padding-top: 32px;
}

.content-list {
    display: flex;
    flex-wrap: wrap;
    padding: 32px 0px;
    max-width: 670px;
}

/* .content-list:nth-child(odd){

} */

.content_mini_img {
    margin-bottom: 28px;
}

.content-list-elem{
    margin-right: 30px;
}

.title-content {
    max-width: 320px;
    margin-bottom: 18px;
}

.btn-more {
    display: flex;
    justify-content: center;
}

.btn-other {
    width: 239px;
    height: 54px;
    background: #62A744;
    color: #fff;
    border: 0px;
}

.content-list-elem:nth-child(even){
    margin-right: 0px;
}

/* footer */

footer {
    background: #EEEEEE;
}

.main-footer-element {
    padding-top: 66px;
}

.subscribe {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.subscribe-title {
    max-width: 610px;
    margin-bottom: 26px;
}

.subscribe-rules-book {
    display: flex;
}

.social {
    display: flex;
    align-items: center;
}

.social_elem {
    margin-right: 20px;
}

.rules {
    display: flex;
}

.rules-elem {
    max-width: 320px;
}

.rules-elem div {
    padding-bottom: 16px;
}

.rules-elem:first-child {
    margin-right: 32px;
}

.main-footer-element {
    display: flex;
    justify-content: space-between;
}

.copyright {
    padding-top:34px;
    padding-bottom: 34px;
    border-top: #CBCBCB 1px solid;
}

.copyright-paragraph {
    color: #818181;
}

.main-footer-element {
    margin-bottom: 120px;
}


/*  */
/* Slick slider */
/*  */

.front-big-slider{
    max-width: 1440px;
}

.slick-track{
	display: flex;
}

.slick-dots{
    display: inline-flex;
    position: absolute;
    bottom: 50px;
    left:55%;
    margin-bottom: 0px;
}

.slick-dots button{
    background: none;
    font-size: 16px;
    border: 0px;
    width: 32px;
    height: 32px;
    border-radius: 50%; 
    vertical-align: middle;
    margin-left: 1px;
}

li.slick-active button{
    background: #62A744;
    color:#fff;
}

ul.slick-dots li{
    margin:0px;
    list-style: none;
    margin-right:10px;
}

.slick-list{
    max-height: 704px;
}


/*  */
/* Media */
/*  */



@media screen and (max-device-width: 1315px){
    .burger{
        display: block;
        margin-right: 32px;
    }

    .lupa{
        margin-right: 32px;
    }
    
    .main-menu{
        display: none;
    }

    .hide-burger{
        justify-content: center;
        vertical-align: middle;
        display: flex;
        height:100%;
        font-size: 30px;
        line-height: 40px;
    }

    .content-list{
        margin-left:32px;
    }

    .text-slider{
        padding:2%;
    }

}

@media screen and (max-device-width:1120px){
    .text-slider .desc, .Faq .desc{
        font-size: 50px;
    }

    .text-slider img, .Faq img{
        height:1em;
    }
}

@media screen and (max-device-width:1100px){
    .main-news{
        display: block;
    }
   
    .help-know-content{
        justify-content: center;

    }
    .big-news{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:0px auto;
    } 

    .news-sources-elem:first-child{
        border-top: 1px #e2e2e2 solid;
    }

    .news-sources-elem:last-child{
        padding-bottom: 20px;;
    }

    .big-news{
        max-width: 50%;
        align-self: center;
    }

    .big-news .rig_bord{
        border: 0px;
    }

    .give-answer{
        margin-bottom: 30px;
    }
    
    .head-faq{
        margin-bottom: 40px;
    }

    .news-text-1{
        margin-bottom: 20px;
    }

    .flex-news{
        max-width: 600px;
        width: 100%;
        padding:0px 8px;
    }

    .flex-elem-faq{
        flex-direction: column;
    }

    .fast-access-list{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .content-list{
        margin-left:32px;
    }

    .slick-dots{
        left:52%;
    }

}


@media screen and (max-device-width: 991px) {
    .mini-news-content{
        padding: 16px;
    }

    .front-big-slider_js {
        margin-bottom: 0px;
    }
    

    .head{
        padding-top: 20px;
        
    }
    
    .fast-access{
        margin-bottom: 0px;
    }

    .answer{
        margin-bottom: 16px;
    }

    .container{
        padding:0px 20px 0px 20px;
    }

    .container_nolr{
        padding:0px;
    }

    .big-news{
        margin:0px auto;
        border-right: 0px;
    }

    .content-list{
        justify-content: center;
    }

    .news-sources-elem{
        padding: 20px;
    }

    .text-slider .desc, .Faq .desc{
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 20px;
    }

    .Faq{
        padding:0px 16px;
    }

    .text-slider .list-accredit{
        font-size: 16px;
    }

    .text-slider a{
        font-size: 16px;
    }
    
    .minicar-image{
        margin-bottom: -1%;
    }

    .minicar-image img{
        width: 1.8em;
    }

    .miniface-image{
        height: 1em;
    }

    .miniparking-image{
        margin-bottom: -2%;
    }

    .mini-i-image{
        margin-bottom: -2.5%;
    }

    .slick-dots{
        left:55%;
        bottom:20px;
    }

    .slick-dots button{
        width:20px;
        height:20px;
        font-size: 14px;
    }

    .date-news{
        margin:0px 0px 16px 0px;
    }

    .news-sources-elem{
        padding:16px 8px;
    }

    .main-footer-element{
        padding-top: 20px;
    }

    .btn-more{
        margin-bottom: 20px;
    }
} 

@media screen and (max-device-width: 880px){
    .cont-block{
        display: block;
    }

    .mini-news-content{
        width:100%;
        border-bottom: 1px #e2e2e2 solid;
        border-right: 0px;
    }

    .mini-news-content:last-child{
        border:0px;
    }

    
}

@media screen and (max-device-width: 800px){
    .text-slider .desc{
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 16px;
    }

    .fast-access-list{
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (max-device-width: 767px){
    
    .big-news{
        display: block;
    }

    .date-news{
        margin-bottom: 20px;
    }

    .news-text-1{
        width:100%;
    }

    .news-sources-elem{
        flex-wrap: wrap;
    }

    .big-news{
        min-width: 100%;
    }

    .big-news.big-news.rig_bord{
        padding:2%;
    }

    .img-news>img{
        width:100%;
    }

    .flex-news{
        flex-direction: column;
    }

    .subscribe{
        margin-bottom: 20px;
    }

    .main-footer-element{
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .Faq{
        background-position: center center;
    }

    .content-list{
        justify-content: center;
    }

    .text-slider{
        padding:4%;
        margin-bottom: 16px;
    }

    .slick-dots button{
        height: 32px;
        width:32px
    }

    .big-news{
        padding:16px 0px;
    }

}

@media screen and (max-device-width: 748px){
    .big-slider{
        display: block;
    }
    
    .desc > br{
        display: none;
    }

    .text-slider .list-accredit{
        margin-left: 0px;
    }

    .slick-dots{
        position:relative;
        bottom:0px;
        left:0px;
        width: 100%; 
        justify-content: center;   
    }

    .big-slider-img{
       width:100%;
       height:350px;
    }

    .big-slider-img>img{
        width:100%;
        height:100%;
    }

    .container{
        padding:0px 8px;
    }

    .container_nolr{
        padding:0px; 
    }
    
    .head .head_hlp_knw{
        margin-left: -8px;
        margin-right: -8px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .content-list{
        margin: 16px 0px 0px 0px;
    }

    .content-list-elem{
        margin-right: 0px;
    }

    .big-news{
        padding-top: 16px;
    }

    .img-news{
        margin-bottom:16px;
    }

    .mini-content>div{
        margin-bottom: 16px;
    }

    .mini-content{
        margin-bottom: 0px;
    }
}


@media screen and (max-device-width: 624px){
    .title-news{
        margin-left: 0px;
    }

    .rules{
        display: block;
        margin:0px auto;
    }

    .rules-elem:first-child{
        margin-bottom: 16px;
    }

    .container{
        padding:0px 0px 0px 0px;
    }

    .text-probki{
        display: none;
    }  
}


@media screen and (max-device-width: 500px)
{
      

    .menu{
        padding-left: 16px;
    }

    .text-slider .desc{
        margin-bottom: 16px;
    }

    .big-news{
        padding:0px;
        margin:16px 0px;
    }
    
    .big-slider-img{
        background-size: cover;
        background-position: center;
    }

    .head.head-news, .head_hlp_knw{
        padding:0px 20px;
        margin:  0px -16px;
    }

    .head-faq,.head-facs, .head_hlp_knw{
        margin-bottom: 16px;
        display: block;
        line-height: 50px;
    }

    .text-slider{
        padding:16px;
    }

    .front-big-slider_js{
        margin-bottom: 16px;
    }

    .img-news{
        margin-bottom: 16px;
    }

    .date-news{
        margin: 0px 0px 16px 0px;
    }

    .news-text-1{
        margin-bottom: 16px;
    }

}

@media screen and (max-device-width: 415px){
    .Faq{
        max-height: 100%;
    };

    .fast-access .fast-access-list{
        padding-left:0px;
        padding-right: 0px;
    }

    .fast-access .fast-access-list .fa-elem-1{
        margin:4px;
    }
}

@media screen and (max-device-width: 400px){
    .logo{
        width:120px;
    }

    .logo img{
        width:100px;
        height:32px;
    }

    .probki{
      margin:0px 16px 0px 0px  
    }

    .search-phone .trubka{
        margin-right:16px;
    }

    .search-phone .lupa{
        margin-right:16px;
    }

    .burger{
        margin:0px 16px 0px auto;
    }

    
}

@media screen and (max-device-width: 360px){
    .cont-block.container.container_nolr .mini-news-content{
        display: block;
    }
    
    .mini-news-content{
        text-align: center;
    }

    .img-mini-content {
        margin:0px auto;
    }


}




